//[gnb의 nav]

.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
  }

  &-item {
    // a태그의 영역에 padding 8px을 주면서 전체적인 디자인에 16px이 늘어나게 됬다.
    margin-right: 24px - ($padding * 2);

    &.is-active,
    &:hover {
      a {
        color: $blue;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      @include text-style(18, $primary);
      display: block;
      padding: $padding;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
