.order-cta{
    @include flexbox;
    z-index: $order-cta-level;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 4px;
    width: 100%;
    height: $order-cta-height;
    background-color: $white;

    .btn-ghost{
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 4px;
        width: 72px;

        i{
            font-size: 24px;
            color: $primary;
        }

        span{
            font-size: 10px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.005em;
            color: $secondary;
        }

        &.is-active{
            i{
                color: $blue;
            }
        }
    }

    .btn-fill-primary{
        flex-grow: 1;
    }
}
