//sass-lint:disable-all
@font-face {
  font-family: 'tomorrow';
  src: url('../../assets/fonts/tomorrow.eot?37');
  src: url('../../assets/fonts/tomorrow.eot?37#iefix') format('embedded-opentype'),
    url('../../assets/fonts/tomorrow.ttf?37') format('truetype'),
    url('../../assets/fonts/tomorrow.woff?37') format('woff'),
    url('../../assets/fonts/tomorrow.svg?37#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
