@mixin star-rating($size) {
  @include flexbox(start);

  font-size: $size;

  .ic-star {
    color: $border;

    // &은 조건문 and 와 같이 연산된다.
    // 즉 .ic-star 이면서 .is-active 인 클래스
    &.is-active {
      color: $blue;
    }
  }
}
