.product-card {
  &-image {
    position: relative;
    // .product-card-image는 정확히 정사각형으로 유지되어야 한다.
    width: 100%; // 부모요소인 product-item의 변화하는 width값을 100%로 상속받는다
    height: 0; // height 역시 부모요소인 product-item의 값을 상속 받는다.
    // => 결국 width, height의 기준점은 다르고 width값에 비례하여 height값도 같이 변화하게 하기 어렵다.
    padding-bottom: 100%; //padding,margin에 %요소는 width값에 비례한다.
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 4px;

    img {
      @include pos-center;
      display: block;
      width: 100%;
      // position을 absoiute로 줘서 height값이 부모의 정확한 값이 아니라 틀의 크기를 기준으로 적용된다.
      height: 100%;
      transition: transform 200ms ease-in-out;
      object-fit: cover;
    }
  }

  &-brand {
    @include text-style(12, $secondary);
    display: block;
    margin-bottom: 4px;
  }

  &-title {
    @include text-style(13, $dark);
    font-weight: 400;
    line-height: 16px;
  }

  &-price {
    @include flexbox(start);
    margin-bottom: 4px;

    .percent,
    .price {
      @include text-style(18);
      font-weight: 700;
    }

    .percent {
      margin-right: 8px;
      color: $blue;
    }

    .price {
      color: $dark;
    }
  }

  &-detail {
    @include flexbox(start);
    margin-bottom: 8px;

    .rating,
    .review {
      @include flexbox(start);

      dt {
        margin-right: 2px;
      }
    }

    .rating {
      margin-right: 8px;

      dt {
        @include flexbox;
        width: 12px;
        height: 12px;
      }

      i {
        font-size: 12px;
        color: $blue;
      }

      dd {
        @include text-style(12, $primary);
        font-weight: 700;
      }
    }

    .review {
      @include text-style(12, $secondary);
      font-weight: 700;
    }
  }
}
