.product-table {
  $table-cell-padding: 12px;
  $table-th-width-sm: 100px;
  $table-th-width-md: 140px + $table-cell-padding;

  border-collapse: collapse; //테이블 사용시 반드시 선언, border가 서로 떨어져있는지 합쳐져 있는지
  table-layout: fixed; //테이블 사용시 반드시 선언, 테이블레이아웃 고정여부

  tr {
    @include text-style(12, $primary);
    text-align: left;
    vertical-align: top; //테이블 에서의 정렬을 위함
    border-bottom: 1px solid $border;
  }

  th,
  td {
    padding: $table-cell-padding;
  }

  th {
    width: $table-th-width-sm + $table-cell-padding;
    font-weight: 400;
    color: $secondary;
  }

  td {
    padding-left: 0;
  }

  @include responsive(T) {
    tr {
      @include text-style(14);
    }

    th {
      width: $table-th-width-md + $table-cell-padding;
    }
  }
}
