.product-shipment {
  @include mobile-only {
    &.is-open {
      .product-section {
        display: block;
      }

      // 자식요소 선택자
      > .product-section-header {
        display: none;
      }
    }

    .product-section {
      display: none;
    }
  }
}
