.user-gallery {
  position: relative;
  margin: 0 -#{$grid-margin};
  overflow: hidden;

  &-slider{
    margin-bottom: 4px;
  }

  &-controls{
    @include flexbox(between);
    @include pos-center;
    width: 100%;
    padding:0 54px;

    .control-button{
      @include flexbox;

      width: 40px;
      height: 40px;
      font-size: 28px;
      color: $primary;
      border-radius: 50%;
      background-color: $white;
      transition: color 100ms ease-in-out, background-color 100ms ease-in-out;

      &.is-prev{
        i{
          transform: rotate(90deg);
          margin-left: -2px;
        }
      }

      &.is-next{
        i{
          transform: rotate(-90deg);
          margin-left: 2px;
        }
      }

      &:hover{
        color: $white;
        background-color: $blue
      }

      // "[]" 는 속성 선택자
      // tiny.js 자체적으로 넘길 값이 없을때 "disabled" 속성을 부여한다.
      &[disabled]{
        visibility: hidden;
      }
    }
    
  }

  .thumbnail-list{
    @include flexbox(start);
    padding-left: 2px;
    overflow-x: auto;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  .thumbnail-item{
    margin-right: 4px;

    &.tns-nav-active{
      button{
        border: 3px solid $blue;
      }
    }

    &:last-child{
      margin-right: 0;
    }

    button{
      @include flexbox;
      width: 64px;
      height: 64px;
      border-radius: 4px;
      overflow: hidden;


      img{
        display: block;
        width: 64px;
        height: 64px;
        object-fit: cover;
      }
    }
  }

  @include responsive(T) {
    margin: 0;

    &-slider{
      margin-bottom: 6px;
    }

    .thumbnail-list{
      padding-left: 0;
    }

    .thumbail-item{
      button{
        width: 75px;
        height: 75px;

        img{
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}
