//[버튼 모듈]
// 1. button style
// 2. button size
// 3. button states

%btn-base {
  @include inline-flexbox;
  padding: 0 8px;
  font-weight: 700;
  border-radius: 4px;

  // disabled => 가상클래스 이며 비활성화 상태이다. 클릭,입력,포커스 X
  // enabled => 가상클래스 이며 활성화 상태이다. 클릭,입력,포커스 O
  &:disabled {
    //커서가 허용되지 않는다.
    cursor: not-allowed;
    opacity: 0.4;
  }
}

//NOTE: Button Styles
// 버튼은 style은 기본적으로 3가지 컨셉으로 나뉜다.
// 1 fill: 색이 채워진 버튼
// 2 outline : border 가 강조된 버튼
// 3 ghost : 유령처럼 색이 안보이는 버튼

.btn-fill-primary {
  @extend %btn-base;
  color: $white;
  background-color: $blue;
  transition: background-color 200ms ease-in-out;

  // 가상클래스 not
  &:not(:disabled):hover {
    background-color: $blue-dark;
  }
}

.btn-fill-secondary {
  @extend %btn-base;
  color: $primary;
  background-color: $border;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $tertiary;
  }
}

.btn-outline {
  @extend %btn-base;
  color: $blue;
  background-color: $white;
  border: 1px solid;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-light;
  }
}

.btn-ghost {
  @extend %btn-base;
  color: $primary;
  background-color: transparent;
  transition: color 200ms ease-in-out;

  &:not(:disabled):hover {
    color: $secondary;
  }
}

//NOTE: Button Size
//버튼 width 값은 선언하지 않는게 좋다.
//내부 텍스트에 따라 사이즈가 가변적이기 때문

.btn-32 {
  @include text-style(14);
  height: 32px;
}

.btn-40 {
  @include text-style(16);
  height: 40px;
}

.btn-48 {
  @include text-style(16);
  height: 48px;
}

.btn-55 {
  @include text-style(18);
  height: 55px;
}
