//[페이지 네이션 모듈]

%page-item-base {
  @include inline-flexbox;
  @include text-style(16, $primary);

  height: 26px;
  font-weight: 700;
  background-color: $white;
  border-radius: 4px;
}

.pagination {
  @include flexbox;
  width: 100%;

  // 페이지네이션 컨트롤 화살표
  .page-control {
    width: 26px;
    @extend %page-item-base;
    border: 1px solid $border;

    &.page-prev {
      margin-right: 24px;

      .ic-chevron {
        transform: rotate(90deg);
      }
    }

    &.page-next {
      margin-left: 24px;

      .ic-chevron {
        transform: rotate(270deg);
      }
    }

    &:hover {
      opacity: 0.4;
    }

    .ic-chevron {
      font-size: 20px;
    }
  }

  //페이지네이션 리스트
  .page-list {
    @include flexbox;

    //페이지네이션 아이템
    .page-item {
      margin-right: 4px;

      &.is-active {
        a,
        button {
          color: $white;
          background-color: $blue;

          &:hover {
            color: $white;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      a,
      button {
        @extend %page-item-base;

        min-width: 26px;
        padding: 0 4px;

        &:hover {
          color: $blue !important;
        }
      }
    }
  }
}
