//sass-lint:disable-all

.sidebar {
  $sidebar-width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  width: $sidebar-width;
  height: 100vh;
  padding: 32px 20px;
  //스크롤 가능하게 하기 위함
  overflow-y: auto;
  background-color: $white;
  transform: translate3d(-#{$sidebar-width}, 0, 0);
  transition: transform 300ms ease-in-out;
  overscroll-behavior: contain;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    padding: 0 12px;

    .logo {
      @include flexbox(start);

      a {
        display: block;
      }

      img {
        display: block;
        width: auto;
        height: 20px;
      }
    }
  }

  &-nav {
    .drawer-menu {
      border-top: 1px solid $border;

      &.is-expert {
        border-bottom: 1px solid $border;
      }
    }
  }

  // 이 두개의 요소를 가운데 정렬하기 위함
  &-user,
  &-auth {
    @include flexbox(start);
    height: 88px;
  }

  &-user {
    // padding: 32px 0;

    a {
      @include flexbox(start);
      @include text-style(14, $primary);
      width: 100%;
      font-weight: 500;
    }

    .avatar-24 {
      //flexbox 정렬을 위해 사이즈를 줄이지 않겠다
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 8px;
    }

    .username {
      //flexbox 정렬을 위해 남는공간을 다 차지하겠다.
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &-auth {
    @include flexbox(between);
    // padding: 24px 0;

    a {
      width: 84px;
    }
  }

  &-user-menu {
    margin-top: 16px;

    .user-menu-item {
      a {
        @include flexbox(start);
        @include text-style(14, $primary);
        width: 100%;
        height: 36px;
        padding: 0 12px;

        &:active {
          color: $blue;
        }
      }
    }
  }

  //스크롤바 모양 제거
  //웹표준에 준수하는 내용은 아니지만 디자인을 의도와 맞게 하기위해 사용
  &::-webkit-scrollbar {
    display: none;
  }
}
